{% assign current_depth = page.url | remove: '/index.html' | split: '/' | size %}

{% if current_depth == 1 %}
  <ul>
    <li>
      <a href="{{ page.url | absolute_url }}">{{ page.title }}</a>
      {% include tree.html page=page %}
    </li>
  </ul>
{% else %}
  {% assign parent_url = page.url | split: '/' | slice: 0, current_depth | join: '/' %}
  {% assign child_pages = site.html_pages | where_exp: 'item', 'item.url contains page.url and item.url != page.url' %}
  {% if child_pages.size > 0 %}
    <ul>
      {% for child in child_pages %}
        <li>
          <a href="{{ child.url | absolute_url }}">{{ child.title }}</a>
          {% capture child_url_parts %}{{ child.url | remove: '/index.html' | split: '/' }}{% endcapture %}
          {% assign child_depth = child_url_parts | size %}
          {% if child_depth > current_depth %}
            {% include tree.html page=child %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}
